* {
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", sans-serif;
}


/*Introducation*/
#intro {
    color: white;
    background-color: rgb(8, 77, 129);
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    padding-bottom: 10px;
}


.myImg img {
    height: 228px;
    width: 220px;
    margin: 45px 90px 0px 0px;
    border: 2px solid white;
    
    
}

.myIntro {

    margin-top: 5px;
    margin-left: 13px;
    padding: 20px;
    padding-left: 35px;
}


.myIntro h1 {
    font-size: 50px;
    margin-bottom: 3px;
}

.myIntro h3 {
    margin-bottom: 15px;
    line-height: 20px;
    font-weight: 500;

}

.myIntro p {
    
    padding-bottom: 27px;
    font-weight: 300;

}

.myIntro div span {
    padding-right: 13px;
    padding-left: 7px;
    margin-top: 25px;
}

.myIntro h4 {
    margin-bottom: 15px;
}




/*Underline*/

.underline {
    border-bottom: 1px solid rgb(12, 70, 151);
    width: 94%;
    margin-left: 1px;
}




/*work experience*/

#work-experience span {
    width: 200px;
    padding: 10px;
    background-color: blue;
    color: white;

    display: flex;
    padding-left: 50px;
}

.job {
    display: flex;

    padding-top: 10PX;
    padding-left: 45px;
    margin-top: 15px;
    gap: 10px;
}

.job-title h5 {
    margin-right: 10px;
    margin-left: 8px;
    width: 85px;
    padding-left: 20px;
    text-align: right;
}

.job-title p {
    padding-left: 7px;
    margin-top: 4px;
}

.company-name p {
    margin-right: 10%;
    text-align: justify;
    margin-bottom: 8px;
    margin-top: 4px;
}



/*education*/

#education span {
    width: 200px;
    padding: 10px;
    background-color: blue;
    color: white;

    display: flex;
    padding-left: 50px;
    margin-top: 20px;
}

.school {
    display: flex;
    padding-top: 10px;
    padding-left: 30px;
    line-height: 1.1;
    margin-top: 15px;
    gap: 10px;
}

.description p {
    margin-right: 10%;
    text-align: justify;
    margin-bottom: 10px;
    margin-top: 4px;
}

.college-name h5 {
    margin-right: 20px;
    width: 120px;
    padding-left: 12px;
    text-align: right;
}

.college-name p {
    margin-left: 48px;
    padding: 0px;
    margin-top: 4px;
}


/*Communication*/

#communication span {
    width: 200px;
    padding: 10px;
    background-color: blue;
    color: white;
    margin-top: 20px;
    display: flex;
    padding-left: 50px;
}

.communication-description p {
    margin-bottom: 15px;

    margin-right: 33px;
    padding-left: 19px;
}

.communication-description {
    margin-left: 15px;
    padding: 20px;
    margin-bottom: 10px;

}